colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
fonttools==4.57.0
fvcore==0.1.5.post20210915
importlib_resources==6.4.5
iopath==0.1.9
kiwisolver==1.4.7
matplotlib==3.7.5
numpy==1.24.4
packaging==26.2
Pillow==9.3.0
pip==24.2
portalocker==2.10.1
pycocotools==2.0.7
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytorch3d==0.3.0
PyYAML==6.0.2
setuptools==75.1.0
six==1.17.0
tabulate==0.9.0
termcolor==2.4.0
torch==1.9.1
torchvision==0.10.1
tqdm==4.67.1
typing_extensions==4.11.0
wheel==0.44.0
yacs==0.1.8
zipp==3.20.2
